*{padding:0;margin:0}
*{padding:0;margin:0;box-sizing:border-box;}
*::before{box-sizing:border-box;}
*::after{box-sizing:border-box;}

@keyframes circle{
    0% {transform:rotate(0deg); }
    100% {transform:rotate(360deg); }
}
.page{
display: flex;
flex-direction: column;
height: 100vh;
position: relative;
}
.mask{
content: '';
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
filter: blur(3px);
z-index:-1;
background: transparent url(http://p3.music.126.net/z4p2xss2a50qNHe6TLFdoA==/2425522650910827.jpg) no-repeat center;
background-size: cover;
}
.disc-container{
position: relative;
z-index: 1;
}
.disc-container .pointer{
width: 28vw;
position: absolute;
left: 45vw;
}
.disc-container .disc{
display: flex;
justify-content: center;
align-items: center;
margin-top: 18vw; 
}
.disc-container .icon-wrapper{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
border-radius: 50%;
border:1px solid white;
width: 20vw;
height: 20vw;
background: rgba(0,0,0,0.5);
}
.disc-container .icon{
width:10vw;
fill:white;
}

.disc-container .ring{
width: 80vw;
}
.disc-container .light{
width: 80vw; 
position:absolute;
}
.disc-container .cover-wrapper{
position: absolute;
width: 50.5vw;
height: 50vw;
}
.disc-container .cover{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;
animation: circle 20s infinite linear;
animation-play-state: paused;
}
.disc-container.playing .ring,
.disc-container.playing .light,
.disc-container.playing .cover{
animation-play-state: running;
}

.disc-container .icon-pause{
display:none;
}
.disc-container.playing .icon-pause{
display:block;
}
.disc-container.playing .icon-play{
display:none;
}

.song-description{
flex-grow: 1;
color: #AEABAC;
text-align: center;
line-height: 2;
margin-top: 20px;
}
.song-description{
font: 14px/1.5 Helvetica,sans-serif;
}
.song-description .songName{
color: white;
font-size: 18px;
font-weight: 400;

}
.song-description .gap{
color: white;
font-size: 18px;
font-weight: 400;
}
.song-description .songSinger{
color:#D6D7ED;
font-size: 15px;
}
.song-description p{
font-size: 14px;
line-height:24px;
}
.song-description .lines{
color:#D6D7ED;
transition: transform 0.3s;
}
.song-description .lyric{
height: 72px;
overflow: hidden;
}
.song-description p.active{
color:white;
}

.page > .links{
display: flex;
justify-content: center;
align-items: center;
color: #D43B32;
}
.page > .links > a{
width: 38.5vw;
margin: 1em;
text-align: center;
border: 1px solid #D43B32;
background: transparent;
padding: 1.5vw;
color: inherit;
text-decoration: none;
border-radius: 1.3vw;
letter-spacing: 1vw;
}
.page > .links > a.main{
background: #D43B32;
color: white;
} 

